@{
    ViewData["Title"] = "registration";
}

<div>
    <form method="post" asp-controller="Home" asp-action="autorization1"><p><button type="submit">Войти как работодатель</button></p></form>
    <form method="post" asp-controller="Home" asp-action="autorization2"><p><button type="submit">Войти как соискатель</button></p></form>   
</div>
<div><a href="Index.cshtml"></a></div>